<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h2>Welcome, <%= username %>!</h2>

    <h2>Select a Room</h2>
    <ul id="room-box">
        <li></li><button id="room1" onclick="room_join('HOME')">HOME</button></li>
    </ul>
    <p style="color: red;" id="error-tell"></p>
    <input type="text" name="addroomname" id="addroomname">
    <button id="newRoom">NewRoom</button>
    <button id="refresh_bt" onclick="refresh()">refresh</button>

    <a href="/logout">Logout</a>
    



<!--Script-->
<script src="/socket.io/socket.io.js"></script>
    <script>
        let currentName = '';
        const socket = io();

        socket.on('userName', (username) => {
            currentName = username;
        });


        let newroom = document.getElementById("newRoom");
        const roomname = document.getElementById("addroomname");        

        let addroomname = roomname.value;
        let room_list_client = [];

        function refresh() {
            socket.emit("rq_room",);
        }


        //keyevent
        function createRoom() {
            var roomNameValue = roomname.value.trim();
            if (roomNameValue === "") {
                document.getElementById("error-tell").innerHTML = "Please enter a room name";
                return;
            }
            document.getElementById("error-tell").innerHTML = "";
            socket.emit("newroom", roomname.value)
        }
        
        roomname.addEventListener("keydown", function (e) {
            if (e.key === "Enter") {
                createRoom();
            }
        });
        
        newroom.addEventListener("click", () => { createRoom() });
        function refresh() {
            socket.emit("rq_room",);
        }


        function room_join(room_join) {
            currentRoom = room_join;
            socket.emit("joinRoom", room_join);
            console.log('user', currentName, 'joined room', room_join)
        }

        socket.on("room_list", (room_list) => {
            const room_box = document.getElementById("room-box");
            //for loop to create new room in client
            for (let i = 0; i < room_list.length; i++) {
                //get room from list by postition
                let verynewroom = room_list[i];
                console.log(verynewroom, 'is in', room_list);
                //create new room
                const list = document.createElement("li");
                const button = document.createElement("button");
                function new_roomf() {
                    if (verynewroom !== room_list_client[i]) {
                        button.id = verynewroom;
                        button.textContent = verynewroom;
                        button.addEventListener("click", function () {
                            room_join(verynewroom);
                        });
                        //display room
                        list.appendChild(button);
                        room_box.appendChild(list);
                        room_list_client.push(verynewroom);
                    }
                    else {
                        console.log('room', verynewroom[i], 'already exists');
                    }
                }
                new_roomf();
            }
        });

        socket.on("rq_room", (room_list) => {
            console.log("room is sended");
            console.log(room_list_client);
            const room_box = document.getElementById("room-box");
            //for loop to create new room in client
            for (let i = 0; i < room_list.length; i++) {
                //get room from list by postition
                let verynewroom = room_list[i];
                //create new room
                const list = document.createElement("li");
                const button = document.createElement("button");
                if (verynewroom !== room_list_client[i]) {
                    button.id = verynewroom;
                    button.textContent = verynewroom;
        
                    //display room
                    list.appendChild(button);
                    room_box.appendChild(list);
                    room_list_client.push(verynewroom);
        
                    document.getElementById(verynewroom).setAttribute("onclick", `room_join('${verynewroom}')`);
                }
                else {
                    console.log('room', verynewroom, 'already exists');
                }
            }
        });

refresh();


    </script>
</body>
</html>
