<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <h2>Welcome, <%= username %>!</h2>
    <h2>Select a Room</h2>
    <ul id="room-box">
    </ul>
<!--    <input type="text" name="addroomname" id="addroomname">
    <button id="newRoom">NewRoom</button>
    -->
    <button id="refresh_bt" onclick="refresh()">refresh</button>

    <button id="nwRoom">Create New Room</button>

    <div class="overlay"></div>

    <div class="nwPopup" id="nwPopup">
        <div class="inPopup">
            <h2>Create Room</h2>
            <p style="color: red;" id="error-tell"></p>
            <input type="text" name="addroomname" id="addroomname">
            <button id="newRoom">Create</button>
            <button id="close">Cancel</button>
        </div>
    </div>

    <a href="/logout">Logout</a>




    <!--Script-->
    <script src="/socket.io/socket.io.js"></script>
    <script>
        sessionStorage.setItem('userName', '<%= username %>');
    </script>

    <script src="dashboard.js"></script>
</body>

</html>