<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h2>Welcome, <%= username %>!</h2>

    <h2>Select a Room</h2>
    <ul id="room-box">
        <li></li><button id="room1" onclick="room_join('HOME')">HOME</button></li>
    </ul>
    <input type="text" name="" id="addroomname">
    <button id="newroom">NewRoom</button>
    <button id="refresh_bt" onclick="refresh()">refresh</button>

    <a href="/logout">Logout</a>
    
    <script>
        const newRoomB = document.getElementById('newRoom') 
        let currentName = username;
        newRoomB.addEventListener



    </script>
</body>
</html>
