<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <h2 id="title">Welcome USER to room ROOM</h2>
    <h3>yang mai sed</h3>
    <div id="local-stream"><h2>Local Stream</h2></div>
    <div id="remote-stream"><h2>Remote Stream</h2></div>

    <a href="/logout">Logout</a>




    <!--Script-->
    <script src="/socket.io/socket.io.js"></script>
    <script>
        let currentName = sessionStorage.getItem('userName');
        let currentRoom = sessionStorage.getItem('currentRoom');

        const title = document.getElementById('title')
        title.innerHTML = (`Welcome ${currentName} to room ${currentRoom}`)


        const socket = io();
        socket.emit("joinRoom", { room: currentRoom, username: currentName });

        function sendMessage() {

        }
    </script>
</body>

</html>