<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= room %>
    </title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <h2 id="title">Welcome USER to room ROOM</h2>
    <h3>yang mai sed</h3>
    <video muted id="localVideo" autoplay playsinline></video>
    <video id="remoteVideo"></video>
    <!--   <video id="remoteVideo" autoplay playsinline></video>   -->
    <div id="mainBox">
        <div id="chatBox"></div>
        <div id="messageInput">
            <input id="message" placeholder="Enter your message" style="display: inline-block;" type="text">
            <button id="sendBtn">Send</button>
            <button id="sendOffer">sendOffer</button>
        </div>
    </div>
    <script>
        sessionStorage.setItem('currentRoom', '<%= room %>');
        let currentRoom = sessionStorage.getItem('currentRoom');
    </script>
    <a href="/logout">Logout</a>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/room.js"></script>




    <script>
        //webrtc



    </script>
</body>

</html>